*{
    box-sizing: border-box;
}

:root{
    --font-heading:"Sen",sans-serif;
    --primary-color: #FFB900;
}

html{
    font-size:62.5%;
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body{
  font-size:1.6rem ;
  font-family: "Poppins", sans-serif;
}

/* ===============common=================== */
a{
    text-decoration: none;
}

.btn{
    line-height: 50px;
    display: inline-block;
    padding: 0px 16px;
    min-width:118px ;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #FFF;
    border-radius: 999px;
    background: #171100;
}

.btn:hover{
    opacity: 0.9;
}

.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}
/* ===============header=================== */

.header{
    background-color: #FFFCF4;

}

.header.fixed{
    z-index: 1;
    position: sticky;
    top:-28px;
}

.header .body{  /*tác động vào body là con của header*/
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav{
    margin-left: auto;

}


.nav ul{
    display: flex;
}

.nav a{
    position: relative;
    color:#5f5b53;
    font-size: 1.6rem;
    padding:8px 21px;
}

.nav li.active a,
.nav a:hover{
    font-weight: 600;
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after{
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    content: "";
    width:12px;
    height: 2px;
    border-radius: 1px;
    background:#171100;
}

.header .btn-sign-up{
    min-width: 144px;
    
}

.header .action{
    margin-left: 49px;
}


/* ===================hero======================== */
.hero{
    padding: 56px 0 65px;
    background-color: #FFFCF4;
}

.hero .body{
    display: flex;
}

/* ================hero-left====================== */
.hero .media-block{
    width: 48%;
    position: relative;
}

.hero .content-block{
    width: 52%;
}

.hero .hero-sumary{
    padding: 24px;
    position: absolute;
    bottom: 48px;
    right:0;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.05);
}

.hero-sumary .item{
    display: flex;
    align-items: center;
}
.hero-sumary .item + .item{
    margin-top: 22px;
}
.hero-sumary .icon{
    width: 48px;
    height: 48px;
    border-radius:50% ;
    display: flex;justify-content: center;
    align-items: center;
    background-color: #FFF9E8;
}

.hero-sumary .icon2{
    background-color: #FCEFFF;
}

.hero-sumary .icon3{
    background-color: #EBEAFF;
}

.hero-sumary .info{
    margin-left: 16px;
}

.hero-sumary .label{
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.hero-sumary .title{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* ===========hero-right===================== */
.hero .content-block{
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.hero .heading{
    font-family: var(--font-heading);
    font-weight: 700;
    color: #171100;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -1.16px;

}

.hero .desc{
    margin-top: 22px;
    color:#5f5b53;
    font-size: 1.8rem;
    line-height: 1.67; 
}

.hero .cta-group{
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero-cta{
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);

}

.hero .watch-video{
    margin-left: 28px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero .watch-video .icon{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.07);
}

.hero .watch-video span{
    font-weight: 600;
    margin-left: 14px;
    color:#171100;
    font-size: 1.8rem;
    line-height:1.67;
}

.hero .desc-recent{
    margin-top: 48px;
}

.hero .stats{
    margin-top: 8px;
}

.hero .stats strong{
    color: #171100;
    margin-right: 15px;
    font-family:var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height:1.23x;
}

.hero .stats strong:nth-child(2){
    margin-left: 28px;
}
